<div class="ui container">
  <h1 class="heading">Our Most Popular Tag is '<%= @tag.name %>'!</h1>
  <div class="ui cards">
    <%= render partial: 'lessons/lesson', collection: @tag.lessons %>
  </div>
</div>


