<div class="ui segment">
  <h3><%= link_to lesson.title, lesson_path(lesson) %></h3>
  <p><%= lesson.description %></p>
  <% if lesson.tags.any? %>
    <ul>
      <% lesson.tags.each do |tag| %>
        <%= link_to tag.name, tags_path, class: "ui teal circular label" %>
      <% end %>
    </ul>
  <% end %>
</div>
