<li>
  <strong><%= lesson.title %></strong><br>
  <% if lesson.tags.any? %>
    Tags:
    <ul>
      <% lesson.tags.each do |tag| %>
        <li>
          <%= tag.name %>
        </li>
      <% end %>
    </ul>
  <% end %>
</li>