<h1><%= @teacher.first_name %></h1>

<div class="ui segment">
</div>



<% if is_teacher? %>
  <%= link_to 'New Lesson', new_teacher_lesson_path(@teacher), class: 'ui big green button' %>
  <%= link_to 'View Your Lessons', teacher_lessons_path(@teacher), class: 'ui big button' %>
<% end %>

