<h1><%= @teacher.first_name %>'s Home</h1>

<%#render teacher's lessons here %>

<%= link_to 'New Lesson', new_teacher_lesson_path(@teacher) %>
<%= link_to 'View Your Lessons', teacher_lessons_path(@teacher) %>
