/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.ui.raised.segment.login {
  max-width: 450px;
  margin: auto;
  top: 50px;
}

div .ui.container.welcome {
  margin-top: 150px;
}
.ui.raised.segment.form {
  max-width: 700px;
  margin: auto;
  top: 50px;
}

.ui.stacked.segments.lessons {
  max-width: 800px;
  margin: auto;
}

.heading {
  text-align: center;
  color: #00b5ad;
  font-size: 4em;
}

div .ui.text.container {
  max-width: 450px;
  margin: auto;
  top: 200px;
}

a .ui.huge.primary.button {
  margin: auto;
}
.ui.fluid.facebook.button {
  margin-top: 20px;
}

img {
  width: 100%;
}

.date-picker {
  width: 200px;
  margin: auto;
}

.ui.fluid.teal.button {
  margin-top: 20px;
}

a.ui.teal.button {
  margin-top: 20px;
}

.ui.secondary.pointing.menu .item {
  font-size: 1.25em;
}

h2.welcome-text {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
}
h2.welcome-text span {
  color: #00b5ad;
}

div.field div.field-with-errors {
  color: red;
}

.ui.error.message {
  max-width: 50%;
  margin: auto;
}

